html, body,#mainRow,#mainContainer {
   height: 100%;
   margin: 0px;
  padding: 0px;
}

.main-map{
  height:100%;
}

.map-icon-toggle{
  width:20px;
  height:24px;
  overflow:hidden;
  position: relative;
}

.map-icon-toggle img {
  position: absolute;
    top:0px;
    left:0px;
}


/*.map-icon-toggle:hover {background-image: url("../img/glyphicons-halflings-blue.png");}
.map-icon-toggle {background-position: -408px -96px;}*/

.tool-menu{
  padding-left: 1px;
  padding-right: 1px;
  height: 100%;
}

.tool-menu-panel{
  height: 100%;
}

form .form-group {
    margin-bottom: 4px;
}

.drop-zone
{
	font-weight: bold;
	text-align: center;
	color: #555;
	border: 3px dashed #555;
	border-radius: 7px;
	cursor: default;
}

.drop-zone-hover
{
	border-color: #38dcff;
  border-width: 4px;
}